.reportInput {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #FAC72D;
  width: 100vw;
  min-height: 100vh;
  padding: .5em;
}

.existingReports {
  box-sizing: border-box;
  background-color: gray;
  color: white;
  min-height: 100vh;
  width: 100vw;
  padding: .5em;
  margin-bottom: -100px;
  padding-bottom: 100px;
  text-align: center;
}

.reportList {
  text-align: left;
}

.reportItem {
  padding: .5em;
}

.input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  width: 45%;
  margin: 1%;
}

.input h2 {
  margin: 0;
  padding: .25em;
}

.reportConfig {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /*margin: .5em;*/
  box-sizing: border-box;
  width: 100%;
}

.textInput, .muiInput {
  width: 40%;
  margin: .5em;
}

.textInput > input {
  font-size: 1em;
  width: 100%;
}

.muiInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

hr {
  width: 90%;
}

.previousVal {
  color: gray;
  text-decoration: line-through;
}

.metricName {
  width: 100%;
  text-align: center;
}

.slider {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: white;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-width: 300px;
}

.valueDisplay {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.button {
  display: inline-block;
  width: 15%;
  padding: .5em;
  text-align: center;
}

.dropDownMenu {
  text-align: center;
  font-size: 50px;
}

.reportButton {
  width: 80%;
  height: 10em;
}

.download {
  margin: auto;
  width: 60%;
}

.home {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: gray;
  color: white;
  height: 100vh;
}

.home h1, h2, h3, h4 {
  padding: .5em;
}


/*@media (max-width: 425px) {
  .reportInput {
    margin: 0;
  }
}*/

/*@media (max-width: 750px) {
  .download {
    display: none;
  }

}*/
