.home {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: gray;
  color: white;
  height: 100vh;
}

.home h1, h2, h3, h4 {
  padding: .5em;

}
