.reportInput {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image:
    linear-gradient(gray, black 40%);
  width: 100vw;
  min-height: 100vh;
  padding: .5em;
}

.existingReports {
  box-sizing: border-box;
  background-image:
    linear-gradient(gray, black 40%);
  color: white;
  min-height: 100vh;
  width: 100vw;
  padding: .5em;
  margin-bottom: -100px;
  padding-bottom: 100px;
  text-align: center;
}

.reportList {
  text-align: left;
}

.reportItem {
  padding: .5em;
}

.input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  width: 45%;
  margin: 1%;
}

.input h2 {
  margin: 0;
  padding: .25em;
}

.reportConfig {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
}

input {
  font-size: 1em;
}

.textInput, .muiInput {
  width: 40%;
  margin: .5em;
}

.textInput > input {
  width: 100%;
}

.muiInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

hr {
  width: 90%;
}

.previousVal {
  color: gray;
  text-decoration: line-through;
}

.metricName {
  width: 100%;
  text-align: center;
}

.slider {
  touch-action: auto;
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: white;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-width: 300px;
}

.valueDisplay {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.button {
  display: inline-block;
  width: 15%;
  padding: .5em;
  text-align: center;
}

.dropDownMenu {
  text-align: center;
  font-size: 50px;
}

.reportButton {
  width: 80%;
  height: 10em;
}

.download {
  margin: auto;
  width: 60%;
}

.flexLayout {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.color {
  color: white;
  background-image:
    linear-gradient(
      gray, black 70%);
  height: 100vh;
}

.home {
  height: 100vh;
}

.welcome {
  height: 85vh;
  padding-bottom: 8em;
}

.home h1, h2, h3, h4 {
  padding: .5em;
}

.home h1 {
  color: #FF9800;
}

a {
  color: white;
}

a:hover, a:active {
  color: #FF5722;
}

a:active {
  color: #FF5722;
}

.spinner {
  padding-top: 8em;
}

.login {
  height: 88vh;
  padding-top: 3em;
}

.login > input {
  width: 175px;
  margin: .5em;
}

.team > div > div:nth-child(2n) {
  /*color: #757575 !important;*/
  font-size: 16px !important;
  padding-left: 2px !important;
  text-align: left !important;
}
.team > div > button {
  right: -10px !important;
  top: 0 !important;
}
/*@media (max-width: 425px) {
  .reportInput {
    margin: 0;
  }
}*/

/*@media (max-width: 750px) {
  .download {
    display: none;
  }

}*/
