.reportInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #FAC72D;
  max-width: 425px;
  margin: 1em;
  padding: .5em 0;
}

.input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  width: 45%;
  margin: 1%;
  /*margin: .5em;*/
}

.input h2 {
  margin: 0;
  padding: .25em;
}

.previousVal {
  color: gray;
  text-decoration: line-through;
}

.metricName {
  width: 100%;
  text-align: center;
}

.slider {
  display: inline-block;
  width: 100%;
  text-align: center;
  /*padding: .5em;*/
  /*margin: 1em;*/
  background-color: white;
}

textarea {
  margin: .5em;
  box-sizing: border-box;
  flex-grow: 1;
  /*width: 95%;*/
  min-width: 300px;
}

.valueDisplay {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.button {
  display: inline-block;
  width: 15%;
  padding: .5em;
  text-align: center;
}

.dropDownMenu {
  text-align: center;
  font-size: 50px;
}

.title {
  width: 100%
}

@media (max-width: 425px) {
  .reportInput {
    margin: 0;
  }
}
