
.input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  margin: 1em
}

.metricName {
  width: 100%;
  text-align: center;
}

.slider {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: .5em;
  margin: 1em;
  background-color: white;
}

.valueDisplay {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.button {
  display: inline-block;
  width: 15%;
  padding: .5em;
  text-align: center;
}

.dropDownMenu {
  text-align: center;
  font-size: 50px;
}
