@include responsive-font(5vw, 35px, 150px, 50px);

@-ms-viewport{
  width: device-width;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /*font-size: 1em;*/
}

body {
  /*background-color: gray;*/

}

.title {
  text-align: center;
}
