.reportDisplay {
  box-sizing: border-box;
  background-image:
    linear-gradient(gray, black);
  /*background-color: gray;*/
  color: white;
  min-height: 100vh;
  width: 100vw;
  padding: .5em;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

.reportDisplay td:nth-child(2n-1) {
  text-align: right;
}

.reportDisplay td:nth-child(2n) {
  padding-left: 1em;
  text-align: left;
}

.reportDisplay h1, h2, h3, h4 {
  text-align: center;
}
